@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
    color: #f0f0f0;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-thumb {
    background: #9000ff;
    border-radius: 2px;
}

body{
    display: grid;
    gap: 40px;

    grid-template-columns: 350px 1fr 1fr;
    grid-template-rows: 90px 180px 350px 90px 80px;

    grid-template-areas: 'c mp mp'
                         'c p1 p2'
                         'i ex ed'
                         't re re'
                         't fo fo';

    background-color: #212121;
    padding: 40px;
}

h1 {
    font-size: 23px;
    font-weight: 700;
}

h2{
    font-size: 20px;
    font-weight: 700;
}

h3{
    font-size: 16px;
    font-weight: 700;
}

p{
    font-size: 14px;
    font-weight: 300;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 20px;
}

a {
    font-size: 14px;
    font-weight: 400;
}

#card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 320px;
    background-color: #0f0f0f;
    border-radius: 20px;
    grid-area: c;
    box-shadow: 2px 2px 2px 1px #00000033;
}

#card img{
    border-radius: 100%;
    width: 130px;
    height: 130px;
    border: 2px solid #9000ff;
    margin-bottom: 30px;
}

#card h2{
    font-size: 13px;
    font-weight: 300;
}

#titleProjetos,#recent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    border-radius: 20px;
    background-color: #0f0f0f;
    padding: 30px;
    box-shadow: 2px 2px 2px 1px #00000033;
}

#titleProjetos{
    grid-area: mp;
}

#recent{
    grid-area: re;
}

#projeto1,#projeto2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    background-color: #0f0f0f;
    border-radius: 20px;
    height: 190px;
    padding: 30px;
    box-shadow: 2px 2px 2px 1px #00000033;
}

#projeto1{
    grid-area: p1;
}

#projeto1{
    grid-area: p2;
}

.flexSpace{
    display: flex;
    gap: 16px;
}

.repositorio{
    display: flex;
    gap: 16px;
}

.icon{
    display: flex;
    gap: 8px;
    align-items: center;
}

.tech{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 185px;
}

span.circle {
    width: 15px;
    height: 15px;
    background-color: #9000ff;
    border-radius: 100%;
    border: 2px solid #f0f0f0;
}

#experiencia,#educacao{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 350px;
    background-color: #0f0f0f;
    border-radius: 20px;
    padding: 50px;
    box-shadow: 2px 2px 2px 1px #00000033;
}

#experiencia{
    grid-area: ex;
}

#experiencia{
    grid-area: ed;
}

#info {
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 22px;
    background-color: #0f0f0f;
    border-radius: 20px;
    padding: 30px;
    grid-area: i;
    box-shadow: 2px 2px 2px 1px #00000033;
}

#tech {
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 22px;
    background-color: #0f0f0f;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 2px 2px 2px 1px #00000033;
    grid-area: t;
}

#flexwrap {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    text-transform: uppercase;
}

.dtq {
    font-size: 10px;
    font-weight: 700;
    width: 85px;
    height: 25px;
    text-align: center;
    background-color: #9000ff;
    border-radius: 30px;
    padding: 6px;
}

footer{
    display: flex;
    width: 100vw;
    justify-content: center;
    position: fixed;
    bottom: 30px;
    grid-area: fo;
}
